* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/img-02.jpg");
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
}

header {
  flex-direction: column;
}

p {
  color: white;
  font-size: 18px;
}
